<h1 align="center">Listing articles</h1>

    <div class = "center"><%= will_paginate @articles %></div>
    
   <%= render 'article', obj: @articles %>
    <div class = "center"><%= will_paginate @articles %></div>